
<div class="container">
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="logo">
  </div>
  <div class="left-side">
    <div class="photo-stack">
      <img id="innerframe" src="{{data.image_url}}" alt="photo">
      <img id="frame" src="../../assets/images/photo.png" alt="Frame">
    </div>
  </div>
  <div class="right-side">
    <div class="text-container">
      <div class="happy">HAPPY </div>
      <div class="birthday">Birthday</div>
      <div class="name">{{data.name}}</div>
    </div>
  </div>
</div>
